# Generic
.DS_Store
*.swp
*.swo
*~
*.bak
*.tmp
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/
ENV/
VENV/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# C#
[Bb]in/
[Oo]bj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
project.lock.json
project.assets.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Neovim
.nvimlog
.netrwhist
*viminfo*

# Zone.Identifier files
*:Zone.Identifier

# OS-specific
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore sensitive files
.gemini/oauth_creds.json
.config/gh/hosts.yml
